<!DOCTYPE html>
<html>
  <head>
    <title>My Google Sign In Demo</title>

    <!-- Set content to Client ID. (Client secret not needed.) -->
    <meta name="google-signin-client_id" content="210913684005-eclqh5rq93raeb2alj6f0017nfv2joe9.apps.googleusercontent.com">

    <!-- Script pulled right from google's website. Async so this script loads asynchronously. -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </head>
  
  <body>
    <h1>Alan's Demo Page</h1>
    
    <!-- Google Sign In Button -->
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <!-- Render some info of the logged-in user. -->
    <div id="content"></div>
    <button onClick="signOut()">Sign Out</button>

    <script>
      // Manip DOM a little bit upon sign in.
      function onSignIn(googleUser) {
        const profile = googleUser.getBasicProfile();

        console.log('User is ' + JSON.stringify(profile));

        const content = document.querySelector('#content');
        content.innerText = profile.getName();

        const image = document.createElement('img');
        image.setAttribute('src', profile.getImageUrl());
        content.append(image);
      }

      // Sign-out function.
      function signOut() {
        gapi.auth2.getAuthInstance().signOut()
          .then(() => {
            console.log('User signed out.')
          })
      }
    </script>
  </body>
  
</html>